html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding: .2em 0;
  display: block;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 3rem;
  color: #cc1465;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul {
  padding: 0;
  margin: .3em;
  text-align: center;
}

ul li {
  display: inline-block;
  font-family: Georgia, serif;
  font-size: 1.125rem;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  background-color: #b2a212;
  padding: .3em;
  margin: 0;
  border-radius: 4px;
}

nav a:hover {
  background-color: #b20953;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.875rem;
  color: #cc1465;
  text-align: left;
  margin: .3em;
  padding: .5em 0;
}

img {
  padding: 0 .75em .75em;
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
}

p {
  font-family: Georgia, serif;
  color: #2f2d13;
  margin: 0;
  padding: 0 .75em;
}

.main-p {
  font-size: 1rem;
}

footer {
  background-color: #ffe500;
  margin: 1em 0 0;
  padding: 1em;
  display: block;
  text-align: center;
  font-size: 1rem;
}

.nav .current {
  background-color: #b20953;
}
